.site_main {
    .info{
        background-color:$header_white;
        position: relative;
        bottom: 50px;
        padding: 40px;
        ul{
            display: flex;
            justify-content: space-evenly;
            list-style: none;
            font-size:12px;
            font-weight: 600;

            li{
                color:$info_color;
                i{
                    padding-right:5px;
                }
            }
        }
    }
    .popular{
        text-align: center;
        h1{
            padding-top: 30px;
            padding-bottom: 20px;
            font-size: 40px;
        }
        .pics{
            display: flex;
            justify-content: center;
            width:100%;
            padding-top: 30px;
            .fries, .frappe, .donut{
                position: relative;
            }
            .fries:hover, .frappe:hover, .donut:hover{
                cursor: pointer;
            }
            .fries:hover .cart, .frappe:hover .cart, .donut:hover .cart{
                visibility: visible;
                font-size: 15px;
            }
            .cart {
                visibility: hidden;
                position: absolute;
                transition: height .2s;
                 width:100%;
                height:87%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.308);
                i{
                    font-size: 40px;
                    padding: 10px;
                    margin: 5px;
                    background-color: black;
                    border-radius: 100%;
                    color: white;
                }
                p{
                    color:white;
                    font-size: 20px;
                }
            }
            img{
                width: calc(100% - 20px);
            }
            h4{
                padding:10px;
                font-size: 25px;
                font-weight: 400;
            }
            p{
                color:$header_button;
                font-size:15px;
                span{
                    color:black;
                }
            };
        }
        .order{
            padding-top: 40px;
            button:hover{
                width: 250px;
                background-color:$header_title;
                a{
                    color:black;
                    font-weight:900;
                }
                i{
                    color:black;
                }
            }
            button{
                background-color:$header_button;
                border-style: none;
                padding: 10px 20px 10px 20px;
                font-size: 12px;
                border-radius: 20px;

                a{
                    text-decoration: none;
                    color:$header_white;
                }
                i{
                    color:$header_white;
                }
            }
        }
    }

     .burger_pic {
         padding-top:60px;
         padding-bottom:60px;
            img{
                width: 100%;
            
             }
    }

    .category {
        margin-top:50px;
        display: flex;
        justify-content: space-between;
        h1{
            font-size:40px;
        }

        button:hover{
            width: 250px;
            background-color:$header_title;
            a{
                color:black;
                font-weight:900;
            }
            i{
                color:black;
            }
        }
        button{
            background-color:$header_button;
            border-style: none;
            padding: 10px 20px 10px 20px;
            font-size: 12px;
            border-radius: 25px;

            a{
                text-decoration: none;
                color:$header_white;
            }
            i{
                color:$header_white;
            }
        }

    }

    .pics_menu{
        
        .first_row{
            display:flex;
            justify-content: center;
            width:100%;
            padding-top: 30px;
            
            .ape, .burg , .pizza , .fri {
                position:relative;
                img{
                    overflow:hidden;
                    width: calc(100% - 20px);
                    filter:brightness(0.7);

                }
                .testo{
                    p{
                        color:$header_white;
                        position:absolute;
                        left: 30%;
                        bottom: 50%;
                        font-weight: 700;
                    }
                    p:hover{
                        color:$header_title;
                        font-size:20px;
                    }
                }
            }
        }
        .second_row{
            display:flex;
            justify-content: center;
            width:100%;
            padding-top: 30px;

            .side, .dessert , .bev , .specials {
                position:relative;
                img{
                    overflow:hidden;
                    width: calc(100% - 20px);
                    filter:brightness(0.7);
                }
                .testo{
                    p{
                        color:$header_white;
                        position:absolute;
                        left: 30%;
                        bottom: 50%;
                        font-weight: 700;
                    }
                    p:hover{
                        color:$header_title;
                        font-size:20px;
                    }
                }
            }


        }
        .third_row{
            display:flex;
            justify-content: space-around;
            width:100%;
            padding-top: 30px;

            .veggie, .gluten, .milk, .keto{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
                i {
                    font-size: 50px;
                    padding:10px;
                }
                #plant{
                    color:$veggie_color;
                }
                #plant:hover{
                    color:#2e5813;
                }
                #bread{
                    color:$gluten_color;
                }
                #bread:hover{
                    color:#fca709;
                }
                #cheese{
                    color:$diary_color;
                }
                #cheese:hover{
                    color:#07385e;
                }
                #meat{
                    color:$keto_color;
                }
                #meat:hover{
                    color:#633006;
                }
                p{
                    font-size: 20px;
                    font-weight: 600;
                    padding: 10px;
        
                }
            }
            
        }
    }

    .order_pics{
        background-image: url('../img/app-ordering-scaled.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 100px;
        .download{
            padding-top:100px;
            padding-bottom: 140px;
            h3{
                color:$header_white;
                font-size: 30px;
                font-weight: 400;
            }
            h1{
                color:$header_title;
                font-size: 70px;
                font-weight: 600;
            }
            .app{
                display: flex;
                img{
                    width: 150px;
                    padding-top: 30px;
                    padding-right: 10px;
                }
               
                
            }
        }
    }

    .news{
        margin-top: 100px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        h1{
            font-size:40px;
        }
        button:hover{
            width: 250px;
            background-color:$header_title;
            a{
                color:black;
                font-weight:900;
            }
            i{
                color:black;
            }
        }
        button{
            background-color:$header_button;
            border-style: none;
            padding: 10px 20px 10px 20px;
            font-size: 12px;
            border-radius: 25px;

            a{
                text-decoration: none;
                color:$header_white;
            }
            i{
                color:$header_white;
            }
        }
    }

    .show{
        display: flex;
        justify-content: center;
        width:100%;
        padding-top: 30px;
        img{
            width: calc(100% - 40px);
        }
        img:hover{
            filter: brightness(0.5);
        }
        h1{
           text-align: center; 
           width: calc(100% - 40px);
           padding-top:30px;
           padding-bottom:10px;
        }
        p{
            font-size:  15px;
            font-weight: 300;
            text-align: center;  
            width: calc(100% - 40px);
            color:#5B5F67;
        }
    }
}