// header color
$demos_butt:#33475B;
$sale:#84CA96;

$header_title: #FCDC31;
$header_button: #CE1A26;
$header_white: white;

//main
$info_color: #5B5F67;
$veggie_color:#66A83C;
$gluten_color:#FFC519;
$diary_color:#44A2EA;
$keto_color:#B47A4B;


