// header color
// <i class="fas fa-chevron-down"></i>
// <i class="fas fa-dollar-sign"></i>
// <i class="fas fa-folder-open"></i>

$demos_butt:#33475B;
$sale:#84CA96;

$header_title: #FCDC31;
$header_button: #CE1A26;
$header_white: white;

//main

$info_color: #5B5F67;
$veggie_color:#66A83C;
$gluten_color:#FFC519;
$diary_color:#44A2EA;
$keto_color:#B47A4B;


// <i class="far fa-check-square"></i>


//footer icons
// <i class="fab fa-facebook-f"></i>
// <i class="fab fa-twitter"></i>
// <i class="fab fa-instagram"></i>
// <i class="fab fa-linkedin-in"></i>
// <i class="far fa-envelope"></i>
// <i class="fab fa-youtube"></i>
// <i class="fas fa-rss"></i>

